* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #09122C;
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    height: 100vh;
}

.header {
    padding: 10px;
    background-color: #09122C;
    color: #872341;
    display: flex;
}

.main-container {
    flex: 1;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    margin: 5vh 15vw;
    color: #09122C;
    background-color: #872341   ;
    border-radius: 0.5em;
}

.user, .cpu, #playagain, .Rounds, .leaderboard, .winner {
    padding: 20px;
}

.scores-container {
    font-size: 30px;
    border: 3px solid #09122C;
    border-radius: 0.5em;
    height: fit-content;
                                                                       
}

.Rounds h2, .scores p{
    display: inline;
}

.game-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border: 3px solid #09122C;
    border-radius: 0.5em;
    width: 50%;
    max-width: 50%;
}

.moves, #playagain button {
    background-color: #09122C;
    color: #E17564;
    padding: 15px 30px;
    border-radius: 7px;
    border: none;
    margin: 13px 0;
    font-size: 20px;
    font-weight:600;
    width: 30%;
}

.moves:focus, #playagain button:focus {
    background-color: #E17564;
    color: #09122C;
    /* border: 3px solid #09122C; */
}

.moves:disabled, #playagain button:disabled {
    background-color: #814053;
    color: #5e2e3c;
    /* border: 3px solid #09122C; */
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    background-color: #872341;
    color: #E17564;
    padding: 10px;

}